<div class="bg-cover h-screen w-screen" style="background: black; overflow-y: scroll;">
  
  <div class="bg-cover relative overflow-hidden h-screen flex flex-auto justify-center items-center relative">
    <div class="font-semibold text-white gap-4 h-26">
      <p>Hi I'm Abhishek</p>
    </div>
    <div class="absolute bottom-0 w-full flex justify-center bg:cover bg-fixed justify-content:space-evenly items-center text-white h-26">
      <a href="https://github.com/ice-weasel">
      <img src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_1280.png"
      class="rounded-full h-16 w-16 object-cover shadow-lg hover:shadow-xl hover bg:-red hover:scale-110 transition duration-500 ease-in-out-500"
      alt="Github"/>
    </a>
      <div class="ml-10 p-16">
        <a href="https://www.linkedin.com/in/abhishek-raman-18b283227/">
          <img
            class="rounded-full h-24 w-24 object-cover shadow-lg hover:shadow-xl hover bg:-red hover:scale-110 transition duration-500 ease-in-out-500"
           src = "https://static.vecteezy.com/system/resources/previews/018/930/587/original/linkedin-logo-linkedin-icon-transparent-free-png.png"
            alt="LinkedIn"
          />
        </a>
      </div>
      <div class="ml-7 p-8">
        <p></p>
      </div>
    </div>
  </div>
</div>


